* {
    scroll-behavior: smooth;

}
header{
    z-index: 2;
    position: relative;
}
.navSec{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar {
    position: sticky;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    position: sticky;

}
.navbar>div>a{
    color: white;
}

.navBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 25px;
}

.header_name {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerFont {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    font-family: Arial;
    color: white;
}

.myName {
    color: deeppink;

}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-top: 20px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.imgSize {
    width: 100%;
    height: 100vh;
}

#SliderWrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    margin: auto;
    overflow-x: hidden;
}

#SlidderSecondlyWrapper {
    width: 400%;
    height: 100%;
    display: flex;
    flex-direction: row;
    animation-name: slider;
    animation-duration: 10s;
    animation-direction: alternate;
    /* position: relative; */
    animation-iteration-count: infinite;
}

.sliderItem {
    width: 25%;
    height: 100%;

}

#slider1 {
    background: url("../carousalImg/istockphoto-1224140424-170667a.jpg");
    background-size: cover;
}

#slider2 {
    background: url("../carousalImg/Download-hd-wallpapers-1080p-screen.jpg");
    background-size: cover;
}

#slider3 {
    background: url("../carousalImg/bicycle-hd-wallpapers---background-images--cyclist-1080p-2k-4k-5k-hd-wallpapers-free-download.jpg");
    background-size: cover;
}

#slider4 {
    background: url("../carousalImg/pexels-pixabay-326055.jpg");
    background-size: cover;
}

.aboutMe {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.subAboutMeDIv {
    width: 50%;
}

.elignProhilePic {
    display: flex;
    justify-content: center;
    padding-right: 5px;
    align-items: center;
}

.proImg {
    margin-left: 130px;
}

.abtMeTxt {
    font-style: italic;
}

.adtMeHr {
    background-color: #ffc107;
    height: 10px;

}

.hrEducation {
    background-color: #ffc107;
    height: 10px;
    width: 50%;
    margin-left: 0;
}

#Educationwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#ProjectHead {
    display: flex;
    justify-content: center;
    align-items: center;
}

#HrProject {
    background-color: #ffc107;
    height: 10px;
    width: 58%;
    margin-right: 0;
}
#ProjectUl{
    list-style: none;
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0;
    height: auto;
    align-items: center;
    padding: 0;
}
.pMenu:hover {
    transition-property: background-color;
    transition-duration: 1s;
    cursor: pointer;
    background-color: #F40064;
    color: white;
}

.pMenu:hover a {
    color: white;
}
#javaProjects {
    height: 22vw;
    width: 100%;
    /* background-color: yellow;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#javaProjects > div {
    height: 20vw;
    width: 20vw;
    background-color: red;
    /* display: block; */
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image_blur {
    backdrop-filter: blur(10px);
}
.image_overlay {
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.25s;
}
.image_overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image_overlay > h1 {
    text-align: center;
    color: #F5F5F5;
    font-size: 12px;
    font-weight: 600;
}

.image_overlay > h1 > a {
    text-decoration: none;
    color: #5eb9fb;
}

.image_blur {
    backdrop-filter: blur(10px);
}

.image_overlay:hover > * {
    transform: translateY(0);
}

.image_overlay:hover {
    opacity: 1;
}
#javaFirst {
    background: url("../carousalImg/Download-hd-wallpapers-1080p-screen.jpg");
    background-size: cover;

}
#javaSec {
    background: url("../carousalImg/Download-hd-wallpapers-1080p-screen.jpg");
    background-size: cover;
}

#javaThird {
    background: url("../carousalImg/Download-hd-wallpapers-1080p-screen.jpg");
    background-size: cover;
}

#javaFourth {
    background: url("../carousalImg/Download-hd-wallpapers-1080p-screen.jpg");
    background-size: cover;
}

#javaCircle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 0.95vw;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: skillJava 8s linear forwards;
    animation-iteration-count: infinite;
    r: 70;

}

#htmlCircle {
    stroke-width: 0.4vw;
    r: 70;
}

#cssCircle {
    stroke-width: 0.4vw;
    r: 70;
}

#jsCircle {
    stroke-width: 0.4vw;
    r: 70;
}

#mySqlCircle {
    stroke-width: 0.4vw;
    r: 70;
}

#percentageHolder {
    /*width: 100%;
    height: 20px;
    !* background-color: #F40064; *!
    display: flex;
    justify-content: space-around;
    align-items: center;*/
    display: none;
}
#skillWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    flex-direction: column;
}
main > section:nth-child(5) > div:nth-child(2) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    width: 100%;
}
#skillWrapper > *:hover {
    transform: scale(1.08);
    transition-property: transform;
    transition-duration: 0.25s;
}

#java {
    background: url("../java.png");
    background-size: cover;
    display: flex;
    /* justify-items: center; */
    /* align-items: center; */
    justify-content: center;
    align-items: center;
}

#html {
    background: url("../html.png");
    background-size: cover;
}

#css {
    background: url("../css.png");
    background-size: cover;
}

#javaScript {
    background: url("../js.png");
    background-size: cover;
}

#mysql {
    background: url("../sql.png");
    background-size: cover;
}

#htmlCircle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 1vw;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: skillHtml 8s linear forwards;
    animation-iteration-count: infinite;
}

#cssCircle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 1vw;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: skillCss 8s linear forwards;
    animation-iteration-count: infinite;
}

#jsCircle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 1vw;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: skillJs 8s linear forwards;
    animation-iteration-count: infinite;
}

#mySqlCircle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 1vw;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: skillMysql 8s linear forwards;
    animation-iteration-count: infinite;
}


svg {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 1000; */
}

@keyframes skillJava {
    40%, 100% {
        stroke-dashoffset: 94.4;
    }
}

@keyframes skillHtml {
    40%, 100% {
        stroke-dashoffset: 188.8;
    }
}

@keyframes skillCss {
    40%, 100% {
        stroke-dashoffset: 283.2;
    }
}

@keyframes skillJs {
    40%, 100% {
        stroke-dashoffset: 448.4;
    }
}

@keyframes skillMysql {
    40%, 100% {
        stroke-dashoffset: 141.6;
    }
}

#percentageHolder {
    width: 100%;
    height: 20px;
    /*
    background-color: #F40064;
    */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main > section:nth-child(5) {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index:100;
}
main > section:nth-child(5) > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
main > section:nth-child(5) > div:nth-child(1) > h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    color: #313131;
    border-bottom: 2px solid #4d4d4d;
}

main > section:nth-child(5) > div:nth-child(2) > div {
    width: 160px;
    height: 160px;
    /* border: 12px solid #494e56; */
    border-radius: 100%;
    /* transform: rotate(
-45deg
); */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

main > section:nth-child(5) > div:nth-child(2) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}

.container {
    position: relative;
    top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    grid-gap: 20px;
    justify-content: center;

}
.img1 {
    height: 400px;
    background: url("../gallery 2.png");
    background-size: cover;
    grid-row: 1/3;
    width: 600px;
    border-radius: 8px;
}

.img2 {
    background: url("../gallery 1.png");
    background-size: cover;
    height: 200px;
    width: 300px;
    border-radius: 8px;
}

.img3 {
    background: url("../gallery 3.jpg");
    background-size: cover;
    height: 200px;
    width: 300px;
    border-radius: 8px;
}

#emailField {
    padding-right: 4px;
}

#emailTxt {
    width: 278px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border: 0;
}
#btnSubmit {
    width: 93px;
    height: 35px;
    background-color: #CE0000;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #dedede;
    font-weight: 700;
    cursor: pointer;
}
.hideOnDefualt {
    display: none;
}

::-webkit-scrollbar {
    width: 12px;
    display: none;
}

.hrAlign {

    display: block;
    width: 5%;
    margin: auto

}
